h4 {
  margin: 20px 0 5px 0;
}

input[type="radio"], input[type="checkbox"] {
  margin-left: 20px;
}

div.box {
  border-style: dashed;
  border-width: 1px;
  margin: 10px 0 10px 0;
  padding: 5px;
  width: 400px;
}

code {
  color:blue;
}
  